.imagem {
    height: 250px;
    text-align: center;
    left: 20%;
}
.div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.h1 {
    text-align: center;
    padding: 60px;
    color: rgb(0, 0, 0);
} 
.sorteio {
    text-align: center;
    border: 2px solid rgb(255, 0, 0);
    padding: 30px;
    border-radius: 50%;
    background-color: rgb(206, 60, 60);
    margin: 10px;

}
.numeros 
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.p {
    text-align: center;
    padding: 10px;
    color: rgb(12, 11, 11);
    
}